section.about
  .container
    +blockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nemo laborum culpa a tempora doloribus ut harum. Eveniet voluptatibus, cum repellat vel officiis magni, repellendus voluptates dolor debitis velit nam!")
    .about-list
      +aboutItem({
        src: "./images/img-about1.jpg",
        title: "Super team",
        iconClass: "fa fa-users"
      })
      +aboutItem({
        src: "./images/img-about2.jpg",
        title: "Super team",
        iconClass: "fa fa-users"
      })
      +aboutItem({
        src: "./images/img-about3.jpg",
        title: "Super team",
        iconClass: "fa fa-users"
      })