section.footer
  .container
    .footer-top
      .footer-column
        a.footer-heading.footer-heading--logo(href="index.html") MoGo
        p.footer-desc.text.text--normal Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odio iusto, repudiandae placeat iure nulla mollitia? Repellat sequi magnam laborum. Architecto ad ducimus repellat quas perspiciatis, aspernatur quasi et ut!
        p.footer-follower <strong>15k</strong> followers
        .footer-social
          span.text Follow Us:
          .footer-social-list
            a.footer-social-icon(href="#")
              i.fab.fa-facebook-f
            a.footer-social-icon(href="#")
              i.fab.fa-twitter
            a.footer-social-icon(href="#")
              i.fab.fa-instagram
            a.footer-social-icon(href="#")
              i.fab.fa-pinterest-p
            a.footer-social-icon(href="#")
              i.fab.fa-google-plus
            a.footer-social-icon(href="#")
              i.fab.fa-youtube
            a.footer-social-icon(href="#")
              i.fab.fa-dribbble
            a.footer-social-icon(href="#")
              i.fab.fa-tumblr
        form.footer-form(action="javascript:void(0)")
          input.footer-form-input(type="email" placeholder="Your Email...")
          button.footer-form-button Subscribe
      .footer-column
        h3.footer-heading Blogs
        a.footer-blog(href="#")
          img.footer-blog-image(src="./images/img-footer-blog1.png" alt="")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9, 2016
        a.footer-blog(href="#")
          img.footer-blog-image(src="./images/img-footer-blog2.png" alt="")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9, 2016
        a.footer-blog(href="#")
          img.footer-blog-image(src="./images/img-footer-blog3.png" alt="")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9, 2016
      .footer-column
        h3.footer-heading Instagram
        .footer-images
          .footer-image
            img(src="./images/img-insta1.png" alt="")
          .footer-image
            img(src="./images/img-insta2.png" alt="")
          .footer-image
            img(src="./images/img-insta3.png" alt="")
          .footer-image
            img(src="./images/img-insta4.png" alt="")
          .footer-image
            img(src="./images/img-insta5.png" alt="")
          .footer-image
            img(src="./images/img-insta6.png" alt="")
          .footer-image
            img(src="./images/img-insta7.png" alt="")
          .footer-image
            img(src="./images/img-insta8.png" alt="")
          .footer-image
            img(src="./images/img-insta9.png" alt="")
        a.footer-images-more.text.text--light(href="#") View more photos
    .footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>