section.people
  .container
    +blockBox("Happy clients", "What people say")
    ul.people-list
      +peopleItem("./images/img-people1.png", "Matthew Dix", "Graphic design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, dolorum deleniti ad quis ex aut vero culpa iste officiis laborum omnis fugit quos, blanditiis earum quod fugiat cupiditate distinctio minus!")
      +peopleItem("./images/img-people2.png", "Nick Karvounis", "Graphic design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, dolorum deleniti ad quis ex aut vero culpa iste officiis laborum omnis fugit quos, blanditiis earum quod fugiat cupiditate distinctio minus!")
      +peopleItem("./images/img-people3.png", "Jaelynn Castillo", "Graphic design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, dolorum deleniti ad quis ex aut vero culpa iste officiis laborum omnis fugit quos, blanditiis earum quod fugiat cupiditate distinctio minus!")
      +peopleItem("./images/img-people4.png", "Mike Petrucci", "Graphic design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, dolorum deleniti ad quis ex aut vero culpa iste officiis laborum omnis fugit quos, blanditiis earum quod fugiat cupiditate distinctio minus!")
