section.service
  .container
    +blockBox("We work with", "Amazing services")
    .service-container
      .service-list
        +serviceItem("./images/amazing_icon1.png", "Photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur non fugit reprehenderit vitae optio.")
        +serviceItem("./images/amazing_icon2.png", "Web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur non fugit reprehenderit vitae optio.")
        +serviceItem("./images/amazing_icon3.png", "Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur non fugit reprehenderit vitae optio.")
      .service-list
        +serviceItem("./images/amazing_icon4.png", "Seo", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur non fugit reprehenderit vitae optio.")
        +serviceItem("./images/amazing_icon5.png", "Html/Css", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur non fugit reprehenderit vitae optio.")
        +serviceItem("./images/amazing_icon6.png", "Digital", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur non fugit reprehenderit vitae optio.")