section.story
  .container
    +blockBox("Our stories", "Latest blog")
    ul.story-list
      +storyItem("./images/img-story1.png", "15", "Jan", "consectetur adipisicing", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quas veniam ea sint natus incidunt velit esse odio aspernatur fugiat molestias, impedit sequi quibusdam obcaecati iure saepe vero. Consequatur, dolorem?", "542", "17")
      +storyItem("./images/img-story2.png", "14", "Jan", "ipsum dolor", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quas veniam ea sint natus incidunt velit esse odio aspernatur fugiat molestias, impedit sequi quibusdam obcaecati iure saepe vero. Consequatur, dolorem?", "992", "42")
      +storyItem("./images/img-story3.png", "12", "Jan", "consectetur adipisicing", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quas veniam ea sint natus incidunt velit esse odio aspernatur fugiat molestias, impedit sequi quibusdam obcaecati iure saepe vero. Consequatur, dolorem?", "1560", "98")