section.team
  .container
    +blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi deleniti autem et vel expedita quisquam officiis, dignissimos necessitatibus hic cupiditate repellendus, quasi incidunt dolores. Rem officiis explicabo assumenda beatae. Deleniti.")
    .team-list
      +teamItem("./images/img-team1.png", "Christopher Cambell", "Branding/UX Team")
        +teamSocial("#thai")
      +teamItem("./images/img-team2.png", "Matthew Dix", "Graphic Design")
        +teamSocial("#van")
      +teamItem("./images/img-team3.png", "Michael Fertig", "Developer")
        +teamSocial("#bin")