section.quote
  .container
    .quote-container
      +quoteItem("./images/img-testimonial.png", true, "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam minima aliquid facere qui! Ad laborum modi sit veniam assumenda consectetur aut aperiam, voluptatem tempore repudiandae quae omnis aliquid illum facere!", "Joshua Earle")
      +quoteItem("./images/img-testimonial.png", true, "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam minima aliquid facere qui! Ad laborum modi sit veniam assumenda consectetur aut aperiam, voluptatem tempore repudiandae quae omnis aliquid illum facere!", "Joshua Earle")
      +quoteItem("./images/img-testimonial.png", true, "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam minima aliquid facere qui! Ad laborum modi sit veniam assumenda consectetur aut aperiam, voluptatem tempore repudiandae quae omnis aliquid illum facere!", "Joshua Earle")
