.map {
  padding: 6rem 0;
  background: linear-gradient(to bottom, rgba(white, 0.7), rgba(white, 0.7)),
    url("../../images/img-map-bg.png") no-repeat center / cover;
  &-content {
    @include flexBox(center, center, column);
  }
  &-heading {
    position: relative;
    font-size: 2.4rem;
    font-weight: bold;
    color: $primary-color;
    padding-bottom: 2rem;
    text-transform: uppercase;
    margin-top: 2.5rem;
    &::after {
      content: "";
      @include size(6.5rem, 0.4rem);
      @include bg($primary-color);
      @include absoluteCenter();
      bottom: 0;
    }
  }
}
