.team {
  padding: 10rem 0;
  &-list {
    @include flexBox(stretch, space-between);
  }
  &-item {
    width: calc(33.33% - 20px);
  }
  &-image {
    @include size(100%, 47rem);
    object-fit: cover;
  }
  &-info {
    padding: 3rem 1.5rem;
    text-align: center;
    height: calc(100% - 47rem);
    @include flexBox(center, space-between, column);
  }
  &-name {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    @include textClamp(1);
  }
  &-position {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    color: $text-color;
  }
  &-social {
    @include flexBox(center, center);
  }
  &-social-item:not(:first-child) {
    border-left: 1px solid $primary-color;
  }
  &-social-link {
    @include flexBox(center, center);
    @include size(5rem);
    @include bg($secondary-color);
    color: $primary-color;
    font-size: 2rem;
    transition: all 0.2s ease;
    &:hover {
      @include bg($primary-color);
      color: white;
    }
  }
}
@include hoverEffect(".team-main", ".team-content");
